body
{
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;

}
body,html{
    padding: 0px;
    margin: 0px;
    background-color: #F2F3F5;;
}

header{
    display: flex;
    justify-content: center;
    padding: 20px;
  
  
}
.title{
  text-align: center;
}
.basicsTitle{
   text-align: center;
   color: #1877F2;

}
#signup
{
    margin: 0 auto;
    width: 40%;
}
@media only screen and (max-width: 1030px) {
    #signup {
      
        width: 60%;
    }
    .title{
        font-size: medium;
    }
    .basicsTitle{
        font-size: small;
    }
  }

footer{
    background-color: white;
    height: 100px;
}

.formfild
{
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    border:1px solid #F5F6F7;
}
.btn a,.btn-success a{
    color: white;
    text-decoration: none;
}
#selectid{
    width: 100%;
  padding: 8px;
  border-radius: 4px;
  border:1px solid #F5F6F7;
}
.formgroup
{
    margin-top: 2%;
}
.submitResetBtn
{
    text-align: center;
}
p{
    text-align: center;
}
.gender{
    margin-top: 15px;
}


.phone{
    text-align: center;
}
.disicion{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    object-fit: cover;
}
.disicion img
{
    background-image: url('https://image.freepik.com/free-vector/green-approved-stamp-with-grunge_115464-413.jpg');
    text-align: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.disicion img{
    src: url('https://image.freepik.com/free-vector/green-approved-stamp-with-grunge_115464-413.jpg') 
}

.page3
{
    color: green;
    background-color: honeydew;

}
.btn-primary,.btn-success{
margin-top: 20px;
margin-bottom: 20px;
}
.statementPlaceeholder{
    color: #959da8;
}
#description{
    width: 100%;
    
}